@font-face {
  font-family: 'Oxanium';
  font-weight: 400;
  font-style: normal;
  src: url('/site/fonts/oxanium.ttf') format('truetype');
}

/* ----------------------------------------- */

.aligned[alignment="center"] {
    text-align: center;
}
.aligned[alignment="left"] {
    text-align: left;
}
.aligned[alignment="right"] {
    text-align: right;
}

.cased[case="lower"] {
    text-transform: lowercase;
}
.cased[case="upper"] {
    text-transform: uppercase;
}