.padded[padding="small"] {
    padding: 0.5rem;
}
.padded[padding="medium"] {
    padding: 1.0rem;
}
.padded[padding="large"] {
    padding: 1.5rem;
}

.rounded[radius="small"] {
    border-radius: 0.5rem;
}
.rounded[radius="medium"] {
    border-radius: 1.0rem;
}
.rounded[radius="large"] {
    border-radius: 1.5rem;
}

.flexed[flex="grow"] { flex: 1; }
.flexed[flex="shrink"] { flex: 1; }

.shadowed {
    box-shadow: 0 0 0.5rem #000000;
    text-shadow: 0 0 0.5rem #000000;
}

.bordered {
    border: 1px solid #202020;
}

.outlined {
    outline: 1px solid #202020;
}