---
import Shell from '@components/shell.astro';
import Section from '@components/section.astro';
import Banner from '@components/banner.astro';
import Grid from '@components/grid.astro';
import Box from '@components/box.astro';
import Card from '@components/card.astro';
import Image from '@components/image.astro';
import Button from '@components/button.astro';
import Overlay from '@components/overlay.astro';

const name = { primary: "gonzo", secondary: "solutions" }
const slogan = ["immerse", "understand", "execute"];
const team = [
    {
        "id": 0, 
        "name": { "first": "Torvald", "middle": "", "last": "Ask" }, 
        "alias": "torvaldask", 
        "title": "CEO"
    },
    {
        "id": 1, 
        "name": { "first": "Erik", "middle": "", "last": "Bjørnøy" }, 
        "alias": "erik-bjørnøy", 
        "title": "CTO"
    }, 
    {
        "id": 2, 
        "name": { "first": "Vu", "middle": "", "last": "Tran" }, 
        "alias": "vu-tran", 
        "title": "CFO"
    }, 
];
---
<Shell lang="en" charset="utf-8" title="GONZO" base="/site">
    <Section name="banner" background="none" padding="medium">
        <Banner slot="content" name={name} slogan={slogan} />
    </Section>

    <Section name="team" background="#181818" padding="medium">
        <Box slot="content" color="#101010" padding="medium" radius="medium">
            <Grid gap="1">
                {
                    team.map(
                        member =>
                            <Card color="#181818" radius="small">
                                <Image slot="header" width="100%" height="100%" source="https://thispersondoesnotexist.com/" /> 
                                <Overlay slot="header">
                                    <div slot="header" class="padded aligned cased" padding="medium" alignment="center" case="upper"> </div>
                                    <div slot="footer" class="padded aligned cased" padding="medium" alignment="center" case="upper"> {member.name.first} {member.name.last} </div>
                                </Overlay>
                                <div slot="footer" class="padded flexed" padding="small" align="center" flex="grow" style="background: #202020">
                                    <Button color="#ff2a3a" padding="medium" radius="small">
                                        CHAT
                                    </Button>
                                </div>
                            </Card>
                    )
                }
            </Grid>
        </Box>
    </Section>

    <Section name="contact" background="none" padding="large">
        <Grid slot="content" gap="1">
            <div></div>
            <Card color="#181818" radius="large">
                <Box slot="header" padding="medium" _case="upper" color="none">
                    Signal
                </Box>
                <Image slot="content" width="100%" height="100%" source="/site/images/qr.svg" />
                <Box slot="footer" padding="none" color="none">
                    <Button color="#ff2a3a" padding="medium" radius="none">
                        CHAT
                    </Button>
                </Box>
            </Card>
            <div></div>
        </Grid>
    </Section>
</Shell>