---
---
<button class="padded rounded cased" padding="medium" radius="small" case="upper">
    <slot />
</button>

<style>

button {
    background: #ff2a3a;
}

button:hover {
    cursor: pointer;
    background: #ff2030;
}

button:active {
    cursor: none;
    background: #ff1a2a;
}

</style>