---
const { padding, radius } = Astro.props;
---
<button class="padded rounded cased" padding={padding} radius={radius} case="upper">
    <slot />
</button>

<style>

button {
    background: #ff2a3a;
    width: 100%;
}

button:hover {
    cursor: pointer;
    background: #ff2030;
}

button:active {
    cursor: none;
    background: #ff1a2a;
}

</style>