---
---
<section name={Astro.props.name} style={`background: ${Astro.props.background}`}>
    <aside id="left">
    </aside>
    <content class="padded" padding="medium">
        <slot name="content" />
    </content>
    <aside id="right">
    </aside>
</section>

<style>

section {
    display: grid;
    grid: auto / auto 800px auto;
}

section > aside {}
section > content {
    display: block;
    overflow: hidden;
    width: inherit;
    height: inherit;
    position: relative;
}

@media (width <= 800px) {
    section {
        display: block;
    }
}

</style>